.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  margin: 0 auto;
}

.cards__active {
  display: flex;
  justify-content: space-around;
}

.cards__link {
  padding: 15px 0;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-weight: 700;
  color: @black;
  border: 1px solid @black;
  text-transform: uppercase;
}
