.main-nav--hidden {
  @media @mobile-only {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media @tablet {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  padding: 0 10px;
}
